@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

body
{
	font-family: 'Roboto';
	color: white;
	background: linear-gradient(180deg, #FB8883 0%, #EEF4D2 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

h1 {
	border-right: solid 3px white;
	white-space: nowrap;
	overflow: hidden;    
	font-family: 'Roboto';
	letter-spacing: 7px;
	font-size: 48px;
	color: white;
  }
  
  h1 {
	animation: animated-text 4s steps(29) 1s 1 normal both,
			   animated-cursor 1s steps(29) infinite;
  }
    
  @keyframes animated-text{
	from{width: 0;}
	to{width: 440px;}
  }
    
  @keyframes animated-cursor{
	from{border-right-color: white;}
	to{border-right-color: transparent;}
  }

  h2 {
	  font-family: 'Roboto';
	  font-size: 14px!important;
	  color: white;
	  letter-spacing: 5px;
  }
  
  h4 {
	  font-size: 13px!important;
  }

  .center {
	position: fixed;
	top: 30%;
	left: 50%;
	margin-top: 20px;
	margin-left: -170px;
  }

  button {
	background-color: transparent;
	border: none;
	outline: none;
  }

  .collapsible {
	background-color: transparent;
	border: none;
	outline: none;
  }

  .collapsible:after {
	display:inline-block;
	content: url("https://img.icons8.com/dusk/24/000000/plus-math.png");
  }


  .active:after {
	display:inline-block;
	content: url("https://img.icons8.com/dusk/24/000000/minus-math.png");
  }

.content {
	padding: 50px 0;
	display: none;
	overflow: hidden;
	background-color: transparent;
	font-family: 'Roboto';
	font-size: 12px!important;
	color: white;
	letter-spacing: 5px;
}